<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.svg" type="image/x-icon">
  </head>
  <header>
    <nav class="nav-header">
      <section class="nav1">
        <a href="/" class="museapp">MUSEAPP</a>
        <% if (user) { %>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;</a>
        <% } %>
      </section>
      <section class="nav2">
        <% if(user) { %>
          <a href="/musicscores/new" <%- title === 'Add Music Sheet' ? 'class="active"' : '' %>>ADD SONG</a>
        <% } %>
          <a href="/musicscores" <%- title === 'All Music' ? 'class="active"' : '' %>>ALL SONGS</a>
      </section>
    </nav>
  </header>
  <body>
    <h1 class="title"><%= title %></h1>