<%- include('./partials/header') %>

<section class="dashboard-page">
    <section class="index-body">
        <section class="navigation">
            <a href="/classical">Classical</a>
            <a href="/jazz">Jazz</a>
            <a href="/rock">Rock</a>
            <a href="/pop">Pop</a>
            <a href="/randb">R&B</a>
            <a href="/country">Country</a>
        </section>
        <section class="box-container">

        </section>
    </section>
</section>

<%- include('./partials/footer') %>