<%- include('./partials/header') %>

    <section class="home-page">
        <div>
            <a href="/classical" class="box" id="classical"><img src="/images/classical.png">CLASSICAL</a>
            <a href="/pop" class="box" id="pop"><img src="/images/pop.png"></a>
        </div>
        <div>
            <a href="/jazz" class="box" id="jazz"><img src="/images/jazz.png">JAZZ</a>
            <a href="/randb" class="box" id="randb"><img src="/images/randb.svg"></a>
        </div>
        <div>
            <a href="/rock" class="box" id="rock"><img src="/images/rock.png"></a>
            <a href="/country" class="box" id="country"><img src="/images/country.svg"></a>
        </div>
    </section>

<%- include('./partials/footer') %>
